.app-header {
    .logo {
        float: left;
        display: flex;
        width: 32px;
        height: 32px;
        margin: 16px 24px 16px 0;
        .logo-img {
            width: 32px;
            border: none;
        }
    }
    .menu {
        display: flex;
        justify-content: flex-end;
        .title {
            margin: 0 10px;
        }
    }
}