.table-header {
  padding: 10px;
  margin: 10px 0;
  background: #ddd;
  display: flex;
  justify-content: space-between;
}
.table-content {
  min-height: 240px;
  // background: #e6f7ff;
}
.table {
  width: 100%;
}